@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #443742;
    --secondary-color: #846C5B;
    --accent1-color: #EDD9A3;
    --accent2-color: #E2E8C0;

    --heading-font: 'Open Sans', sans;
    --paragraph-font: 'Open Sans', sans;

    --nav-background-color: #EDD9A3;
    --nav-link-color: #443742;
    --nav-background-color: #EDD9A3;
    --nav-hover-background-color: #443742;
  }
  * {
    box-sizing: border-box;
}
body {
    font-family: var(--paragraph-font);
    max-width: 2000px;
    padding: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent1-color);
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* Header */
header {
    display: grid;
    grid-template-columns: 400px 1fr;
	max-width: 2000px;
    background-color: var(--accent1-color);
    align-items: center;
    margin-bottom: 1.5rem;
}

header img {
    grid-column: 1 / 2;
    height: auto;
    justify-self: center;
}

.top-nav {
    display: flex;
    justify-content: space-evenly;
}

.top-nav a{
    color: var(--nav-link-color);
    text-decoration: none;
    font-size: 25px;
    grid-column: 2 / 3;
    padding: 1em;
}

.top-nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/* Header */ 

/* Body/Main */


.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    font-size: 30px;
    top: 110px;
    color: rgb(255, 255, 255, .9);
    padding: 2rem;
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    text-align: center;
}

.client {
    width: 250px;
    float: right;
} 

article {
    position: absolute;
    padding: 1rem;
    background-color:rgba(0, 0, 0, 0.4);
    top: 350px;
    left: 150px;
    right: 150px;
}

article p {
    color: rgb(255, 255, 255);
    font-size: 22px;
    padding-left: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
/* HISTORY */ 

.history {
    background-color: rgb(236, 236, 236);
    max-width: 2000px;
    padding: 25px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history h2 {
    text-align: center;
    grid-column: 1/4;
    grid-row: 1;
    font-size: 40px;
    color: var(--accent1-color);
}

.hst1 {
    grid-column: 1 / 2;
    grid-row: 2;
    margin-left: 40px;
}

.hst2 {
    grid-column: 3;
    grid-row: 2;
    max-width: 450px;
}

.history img{
    justify-self: center;
    grid-column: 2 / 3;
    grid-row: 2;
}

/* ADVENTURE */ 

.adventure {
    background-color: rgb(236, 236, 236);
    max-width: 2000px;
    padding: 25px;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventure h2 {
    text-align: center;
    grid-column: 1/6;
    font-size: 40px;
    color: var(--accent1-color);
}

.imag1 {
    grid-column: 1 / 2;
}

figcaption {
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: .5rem;color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    margin-top: .5rem;
}
.about {
    text-align: center;
    margin-top: .5rem;
    color: black
}

/* ADVENTURE */ 

/* map and addr */
.information {
    display: grid;
    grid-template-columns: 250px 350px 135px 120px 400px 1fr;
    background-color: rgb(237,217,163);
    padding: 2rem;
}

.title {
    color: var(--primary-color);
    padding: .5rem;
    grid-column: 1 / 7;
    text-align: center;
}

h2, .text, address {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
    color: var(--primary-color);
}

.text, address  {
    text-align: left;
    margin-top: 2.5rem;
    margin-left: .5rem;
    grid-column: 2 / 4;
    font-size: 18px;
} 

address, a {
    color: var(--primary-color);
    text-decoration: none;
    font-style: normal;
}

.map {
    grid-column: 5 / 7;
    justify-items: left;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
/* OUR STAFF */ 

.staff {
    background-color: rgb(237,217,163);
    max-width: 2000px;
    padding: 3rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.subtitle {
    text-align: center;
    grid-column: 1/5;
    grid-row: 1;
    color: var(--primary-color);
    margin-bottom: 3rem;
}

fig1 {
    grid-column: 1 / 2;
    grid-row: 2;
}

fig2 {
    grid-column: 3;
    grid-row: 2;
}

fig3 {
    grid-column: 4;
    grid-row: 2;
}

fig4 {
    grid-column: 4;
    grid-row: 2;
}
/* FORM */ 

.bottom {
    display: grid;
    margin-top: 2rem;
    background-color: rgb(237,217,163);
    padding: 4rem;
    grid-template-columns: 700px 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.phrase, .call-to-action {
    color: var(--primary-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    grid-column: 1 / 2;
    font-size: 45px;
    max-width: 500px ;
    text-align: center;
}

form {
    width: 550px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: rgb(255, 255, 255, .9);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column; /* This is what Brother Raplh said */
    color: var(--accent1-color);
}

label {
    padding-top: 1rem;
    padding-bottom: .8rem;
}

input, textarea {
    padding: .5rem;
    font-size: 1.1rem;
}

.number {
    font-size: 1.25em;
    color: var(--accent1-color);
    font-weight: 700;
}

.align  {
    display: flex;
    margin-left: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: center;
    margin-left: 1rem;
}

input[type="radio"] {
    margin-right: 1.5rem;
}

button {
    background-color: rgb(237,217,163);
    color: var(--primary-color);
    font-size: 25px;
    border: none;
    border-radius: .5rem;
    padding: 1.5rem;
    font-family: sans-serif;
    width: 100%;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}



footer {
    display: grid;
    padding: 1rem;
    background-color: var(--nav-background-color);
    margin-top: 2.5rem;
    grid-template-columns: 1fr 1fr 400px;
}

.sociallinks {
    display: flex;
    text-decoration: none;
    grid-column: 3 / 4;
    justify-content: center;
    align-items: center;
}
.sociallinks a{
    margin-left: .8rem;
    margin-right: .8rem;
}

footer p {
    grid-column: 2 / 3 ;
    text-align: center;
    color: var(--primary-color);
}
.copyright {
    grid-column: 2 / 3 ;
    grid-row: 1;
    text-align: center;
    justify-items: center;
    color: var(--primary-color);
    font-size: 20px;
}
.wireframe {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1;
    text-align: center;
    align-items: center;
}